<!-- Footer -->

<footer id="footer">
  <div class="inner">

    <ul class="icons">
      <li><a href="https://www.facebook.com/Sweet-Seductions-Cakes-100631699982331/" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.instagram.com/sweet.seductions.bakery/" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>

    <div class="copyright">
      &copy; Sweet Seductions 2017. Design: <a href="https://templated.co">TEMPLATED</a>.
    </div>
  </div>
</footer>
