<!-- Footer -->


<footer id="footer">
  <!-- <div style="max-width: 60em; margin: 0 auto;"> -->
  <div class="inner">
    <form action="/email.php" method="post">

      <!--
      <div class="field half first">
	       <label for="name">Name</label>
	       <input name="name" id="name" type="text" placeholder="Name">
         <br>
         <label for="date">Date</label>
         <input name="date" id="date" type="date">
        </div>
        <div class="field half">
          <label for="email">Email</label>
	        <input name="email" id="email" type="email" placeholder="Email">
        </div>
      -->

        <div class="field">

          <label for="name">Name</label>
          <input name="name" id="name" type="text" placeholder="Name">
          <br>
          <label for="email">Email</label>
          <input name="email" id="email" type="email" placeholder="Email">
          <br>
          <label for="date">Date</label>
          <input name="date" id="date" type="date">
          <br>
          <label for="message">Message</label>
	        <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
        </div>

      <ul class="actions">
        <li><input value="Send Message" class="button alt" type="submit"></li>
      </ul>
    </form>

    <ul class="icons">
      <li><a href="https://www.facebook.com/Sweet-Seductions-Cakes-100631699982331/" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.instagram.com/sweet.seductions.bakery/" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>

    <div class="copyright">
      &copy; Sweet Seductions 2017. Design: <a href="https://templated.co">TEMPLATED</a>.
    </div>
  </div>
</footer>
